Source: pt-ui-mods
Section: x11
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
 dh-sequence-python3,
Standards-Version: 4.5.1

Package: pt-ui-mods
Architecture: all
Replaces:
 raspberrypi-ui-mods,
Breaks:
 raspberrypi-ui-mods,
Conflicts:
 raspberrypi-ui-mods,
Depends:
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
# Required to avoid conflict with allowing plugdev group to mount disks
# https://github.com/RPi-Distro/raspberrypi-sys-mods/
# commit #59fd502bd4fcf8f5f646ba6c7ad59c8756c3094e
 raspberrypi-sys-mods (>= 20210706),
# Used in postinst
 adduser,
 adapta-gtk-theme,
 breeze-cursor-theme,
 desktop-file-utils,
 fonts-fs-me-pro,
 libglib2.0-bin,
 lightdm,
 lxpanel,
 lxsession,
 openbox,
 papirus-folders,
 pt-notifications,
 pt-icon-theme,
 pcmanfm,
 policykit-1,
# Used by pt-further
 python3-pitopcommon,
# Required for .desktop file
 python3-pitop-doc,
 python3-notify2,
 raspberrypi-sys-mods,
 x11-xserver-utils,
 xserver-xorg,
 zenity
Recommends:
 agnostics,
 compton,
 cups,
 gnome-icon-theme,
 gtk2-engines-clearlookspix,
 gtk2-engines-pixbuf,
 gtk2-engines-pixflat,
 gui-pkinst,
 lxplug-bluetooth,
 lxplug-cputemp,
 lxplug-ejecter,
 lxplug-magnifier,
 lxplug-network,
 lxplug-ptbatt,
 lxplug-volumepulse,
 onboard,
 pi-greeter,
 pi-printer-support,
 pimixer,
 pt-shutdown-helper,
 raspi2png,
 rc-gui (>=1.18),
 rp-bookshelf,
 scrot,
 system-config-printer,
 xserver-xorg-video-fbturbo,
Description: pi-top LXDE UI Customisations
 Customised theme and configuration for LXDE desktop on Raspberry Pi.
