Source: pt-ui-mods
Section: x11
Priority: extra
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends: debhelper (>= 8.1.0~)
Standards-Version: 3.9.6

Package: pt-ui-mods
Architecture: all
Depends: ${misc:Depends}, raspberrypi-ui-mods
Breaks: rpd-plym-splash
Conflicts: rpd-plym-splash
Recommends: pt-display (>> 2.0.0)
Description: pi-topOS LXDE UI customisations
 Customised theme and configuration for LXDE desktop on Raspberry Pi.
