[Desktop Entry]
Type=Application
Version=1.0
Name=pi-top Further
Comment=Social learning platform for makers
TryExec=/usr/bin/x-www-browser
Exec=pt-further
Icon=pt-further
Terminal=false
Categories=Education;
