[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/pt-touchegg
Icon=libinput-gestures
Terminal=false
Name=Touchégg - Touchpad/Touchscreen Gestures Manager
GenericName=Gestures Manager
Keywords=touch;touchscreen;touchpad;gestures;multi-touch;
Comment=
NotShowIn=GNOME;XFCE;
Categories=System;
